In [1]:
import pandas as pd
import json

# Load the JSON file
with open("games.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Convert to DataFrame
df = pd.DataFrame.from_dict(data, orient="index")

# Inspect the data
df.head()
df.columns

Index(['name', 'release_date', 'required_age', 'price', 'dlc_count',
       'detailed_description', 'about_the_game', 'short_description',
       'reviews', 'header_image', 'website', 'support_url', 'support_email',
       'windows', 'mac', 'linux', 'metacritic_score', 'metacritic_url',
       'achievements', 'recommendations', 'notes', 'supported_languages',
       'full_audio_languages', 'packages', 'developers', 'publishers',
       'categories', 'genres', 'screenshots', 'movies', 'user_score',
       'score_rank', 'positive', 'negative', 'estimated_owners',
       'average_playtime_forever', 'average_playtime_2weeks',
       'median_playtime_forever', 'median_playtime_2weeks', 'peak_ccu',
       'tags'],
      dtype='object')

In [2]:
filtered_df = df[df['metacritic_score'] != 0]
filtered_df.shape

(3953, 41)

In [3]:
df2 = pd.read_csv('games-data.csv')
df2.head()

,name,platform,r-date,score,user score,developer,genre,players,critics,users
0,The Legend of Zelda: Ocarina of Time,Nintendo64,"November 23, 1998",99,9.1,Nintendo,"Action Adventure,Fantasy",1 Player,22,5749
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,NeversoftEntertainment,"Sports,Alternative,Skateboarding",1-2,19,647
2,Grand Theft Auto IV,PlayStation3,"April 29, 2008",98,7.6,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,64,3806
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.5,Namco,"Action,Fighting,3D",1-2,24,324
4,Grand Theft Auto IV,Xbox360,"April 29, 2008",98,7.9,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,86,3364

In [4]:
df2.shape
f_df2 = df2[df2['platform'] == 'PC']

In [5]:
f2_df2 = f_df2[f_df2['name'].isin(filtered_df['name'])]
f2_df2.shape

(1846, 10)

In [6]:
f2_df = filtered_df[filtered_df['name'].isin(f2_df2['name'])]
f2_df.shape

(1858, 41)

In [7]:
f2_df2.drop_duplicates(subset='name', inplace=True)
f2_df.drop_duplicates(subset='name', inplace=True)
print(f2_df2.shape, f2_df.shape)

(1840, 10) (1840, 41)

C:\Users\yasis\AppData\Local\Temp\ipykernel_4788\3233412353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2_df2.drop_duplicates(subset='name', inplace=True)
C:\Users\yasis\AppData\Local\Temp\ipykernel_4788\3233412353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2_df.drop_duplicates(subset='name', inplace=True)

In [13]:
f2_df.columns
steam_columns_to_keep = [
    'name', 'price', 'dlc_count', 'metacritic_score', 'achievements', 'genres',
    'positive', 'negative', 'estimated_owners', 
    'average_playtime_forever', 'average_playtime_2weeks', 
    'median_playtime_forever', 'median_playtime_2weeks'
]

In [15]:
f3_df = f2_df[steam_columns_to_keep]

In [17]:
f2_df2.columns
mc_columns_to_keep = [
    'name','r-date', 'score', 'user score', 'genre', 'critics', 'users'
]

In [19]:
f3_df2 = f2_df2[mc_columns_to_keep]
f3_df2.head()

,name,r-date,score,user score,genre,critics,users
22,Half-Life 2,"November 16, 2004",96,9.1,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",81,10773
23,Grand Theft Auto V,"April 13, 2015",96,7.8,"Modern,Action Adventure,Open-World",57,6661
36,Half-Life,"November 19, 1998",96,9.0,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",24,4321
59,Portal 2,"April 18, 2011",95,9.1,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",52,7482
65,The Elder Scrolls V: Skyrim,"November 10, 2011",94,8.3,"Role-Playing,First-Person,First-Person,Western...",32,11301

In [21]:
merged_df = pd.merge(f3_df2, f3_df, on='name', how='inner')
merged_df.head()

,name,r-date,score,user score,genre,critics,users,price,dlc_count,metacritic_score,achievements,genres,positive,negative,estimated_owners,average_playtime_forever,average_playtime_2weeks,median_playtime_forever,median_playtime_2weeks
0,Half-Life 2,"November 16, 2004",96,9.1,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",81,10773,9.99,1,96,33,[Action],142368,3687,10000000 - 20000000,606,185,311,315
1,Grand Theft Auto V,"April 13, 2015",96,7.8,"Modern,Action Adventure,Open-World",57,6661,0.00,1,96,77,"[Action, Adventure]",1171197,210154,20000000 - 50000000,13650,656,6274,154
2,Half-Life,"November 19, 1998",96,9.0,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",24,4321,9.99,1,96,0,[Action],73346,2619,5000000 - 10000000,459,102,127,102
3,Portal 2,"April 18, 2011",95,9.1,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",52,7482,9.99,1,95,51,"[Action, Adventure]",298300,3638,10000000 - 20000000,874,118,514,138
4,The Elder Scrolls V: Skyrim,"November 10, 2011",94,8.3,"Role-Playing,First-Person,First-Person,Western...",32,11301,19.99,1,94,75,[RPG],293938,16035,5000000 - 10000000,6458,596,3032,878

In [23]:
merged_df.shape

(1840, 19)

In [25]:
merged_df.to_csv('merged_trimmed_data.csv', index=False)